body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "icon header header header"
    "icon main   main   main"
    "icon footer footer footer";
}

/**
 * Sidebar / Aside / Logo
 */

aside {
  grid-area: icon;
}

aside img {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
}

/**
 * Header
 */

header {
  margin: 0 0 1rem 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  grid-area: header;
}

header h1,
header h2 {
  text-align: center;
}

header h1 {
  color: #333;
  text-shadow: 0 5px 5px rgb(0 0 0 / 20%);

  font-size: 10vw;
  letter-spacing: 2vw;
  font-weight: bold;

  padding: 0;
  margin: 1rem 0 3rem 0;
  line-height: 1.2em;
}

header h1 .subheader {
  display: block;
  font-size: 5vw;
  line-height: 0.5em;
  padding: 0;
  margin-right: -2vw;
  letter-spacing: 3.3vw;
}

header h2 {
  color: #5c5647bd;
  font-family: "IM Fell DW Pica SC", serif;
  font-size: 3vw;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
  padding: 0.5rem 0;
  border-top: 4px solid #5c56471e;
  border-bottom: 4px solid #5c56471e;

  letter-spacing: 0.4vw;
}

/**
 * Main
 */

main {
  grid-area: main;

  font-size: 1.4rem;
  background-color: rgba(0 0 0 / 3%);
  border-radius: 15px;
  margin: 2rem 4rem;
  padding: .5rem 2rem;
}

p {
  color: #4c4a37;
  line-height: 1.6em;
  letter-spacing: .1em;
}

a {
  color: #ff9900;
  background: #fff4a3;
  text-decoration: none;
}

a:hover {
  color: #ffcc66;
}

/**
 * Footer
 */

footer {
  grid-area: footer;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  font-size: .7rem;
  text-align: center;
  color: #999;
}

/**
 * Buttons
 */

.btn {
  position: relative;
  display: block;
  width: 100%;
  padding: 1rem;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;

  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  transform-style: flat;
  transition: all 250ms ease-out;
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  z-index: -2;
  transition: all 250ms ease-out;
}

.paper-lift:before,
.paper-lift:after {
  bottom: 15px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;

  box-shadow: 0 10px 10px rgba(31, 31, 31, 0.5);
}
.paper-lift:before {
  left: 8px;
  transform: rotate(-3deg);
}
.paper-lift:after {
  right: 8px;
  transform: rotate(3deg);
}

.paper-lift:hover {
  border-color: transparent;
}
.paper-lift:hover:before,
.paper-lift:hover:after {
  box-shadow: 0 15px 12px rgba(31, 31, 31, 0.7);
}
.paper-lift:hover:before {
  left: 10px;
}
.paper-lift:hover:after {
  right: 10px;
}


/**
 * Small Devices
 */
@media screen and (max-width: 680px) {
  body {
    grid-template-areas:
    "icon icon icon icon"
    "header header header header"
    "main main   main   main"
    "footer footer footer footer";
  }

  aside {
    margin-bottom: -20px;
  }

  aside img {
    position: relative;
    width: 100%;
    margin-top: -50%;
    opacity: .1;
  }

  header {
    margin-top: 0;
  }
  header h1 {
    margin-top: -2rem;
    font-size: 20vw;
    color: #000;
  }
  header h1 .subheader {
    font-size: 13vw;
  }
  header h2 {
    font-size: 8vw;
  }

  main {
    margin: 1rem .2rem;
    padding: 0 1rem;
  }
}